body{
  background: url("../images/bg.png");
}
.eqa-head{
  text-align: center;padding-bottom: 50px;
  background:rgba(0,0,0,.2);color:rgb(200,200,200);font-variant: small-caps;font-weight: bolder;
}
.eqa-content{
  padding-top:30px;text-align: center;
}
.eqa-content .content-1 select{background:rgba(0,0,0,0.2);font-weight: bolder;border-width:0;color: rgb(230,230,230)}
.equ-body{
  padding-top:100px;text-align: center;color: #fff
}
.equ-body div input{background: rgba(0,0,0,0.2);font-weight: bolder;border-width:0;color:#fff}
.eqa-content .content-2{
  padding-left: 100px;font-size: 1.5em;color: rgb(230,230,230);font-weight: bolder;
}
.equ-body .equ-btn{
  padding-top: 25px;
}
.equ-body .equ-btn .btn{
  background:rgba(5,5,5,0.2);color: rgb(230,230,230);
}
.equ-foot{padding-top: 30px}
#answer{color:#fff;padding-top:10px;box-shadow: inset 2px 2px 2px rgba(0,0,0,0.5);
